<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
    {{key}}
    <form action="{%  url 'logindata' %}" method="post">
        {%csrf_token%}
        <h3>Login</h3>
        Email:<input type="email" name="email"><br><br>
        Password:<input type="password" name="password"><br><br>
        <input type="submit" name="submit">
    </form>
     {% endblock %}
    
</body>
</html>